/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/analytics

# Project exclude paths
/storage/app/*
/storage/debugbar/
/storage/framework/*
composer.lock
config/debugbar.php
/resources/views/themes
/public/themes/fontawesome
/public/robots.txt
ads.txt
app-ads.txt
/Modules
modules_statuses.json
*~
public/acusensor.php
/resources/js/

/tema

**/caddy
frankenphp
frankenphp-worker.php
