.search-button{
    border: 1px solid #ced4da;
    border-left: 0 !important;
}
.nav-treeview > .nav-item > .nav-link {
    padding-left: 1.5rem !important;
}
.top-icon{
    width: 20px;
    margin-right:5px;
}
#social-networks .input-group-prepend{
    border: 1px solid #ced4da;
    border-right: 0 !important;
    width: 45px;
    display: flex;
    justify-content: center;
}
#social-networks i{
    font-size: 2rem;
    margin: 2px 3px 0 3px;
}
#social-networks input{
    border-left:0 !important;
}
#dark-mode-switcher{
    position:fixed;
    bottom: 4em;
    right: 1em;
}

.form-control-navbar-dark {
    border:1px solid #ced4da !important;
    border-right-width: 0 !important;
}

#dark-mode-switcher-button{
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.chat-light{
    background-color: #f3f4f6;
}
.chat-dark{
    background-color: #2d2d2d;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#chatbot-typing span {
    font-size:1.3em;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#chatbot-typing span:nth-child(2) {
    animation-delay: .2s;
}

#chatbot-typing span:nth-child(3) {
    animation-delay: .4s;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a3a2a2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #717171;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}

.table-dark pre{
    color: #f8f9fa;
}

#monitoring{
    width: 100%;
    height: calc(100dvh - 255px);
    border: none;
}

.navbar-dark #top-menu-navbar li{
    border-left: 1px solid #4f596240 !important;
}

.navbar-light #top-menu-navbar li{
    border-left: 1px solid rgba(0,0,0,.05) !important;
}


#top-menu-navbar li:first-child{
    border-left: none !important;
}

.navbar-dark .navbar-search-block .form-control{
    background-color: #3f474e !important;
    border: 1px solid #56606a !important;
    border-right:0 !important;
}

.navbar-dark .navbar-search-block .btn-navbar, .navbar-dark .form-control-navbar button [type="submit"]{
    border-left: 0 !important;
    border-right: 0 !important;
}

.navbar-dark .navbar-search-block .btn-navbar, .navbar-dark .form-control-navbar button [type="submit"]{
    border-left: 0 !important;
    border-right: 1px solid #56606a !important;
}

#searchResults {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 30px;
    margin-left: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#result-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
#result-items strong{
    padding: 10px;
}
.sub-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.result-item a{
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: block;
}
.result-item a:hover {
    background-color: #f0f0f0;
}

.navbar-dark #searchResults{
    border: 1px solid #56606a;
    background-color: #3f474e
}

.navbar-dark .result-item:hover{
    background-color: #56606a;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notification-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px; /* İhtiyacınıza göre ayarlayın */
    display: inline-block;
}

.dark-mode .list-group-item, .dark-mode .list-group-item a, .dark-mode .list-group-item-action {
    color: #f8f9fa !important;
}

.dark-mode .list-group-item:hover, .dark-mode .list-group-item a:hover, .dark-mode .list-group-item-action:hover {
    color: #515151 !important;
}

.profileImg{
    border-radius: 50%;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    cursor:pointer;
    position: relative;
    width:100px;
    height:100px;
}

.profileImg:hover > .imgOverlay{
    opacity: 1;
}

.profileImg img{
    width:100%
}

.profileImg .imgOverlay{
    transition: opacity .2s ease-in-out;
    background-color: rgba(32,33,36,0.6);
    bottom: 0;
    height: 33%;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0;
}

.imgOverlay .oBody{
    background-image:       url(//www.gstatic.com/images/icons/material/system/2x/photo_camera_white_24dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    height: 100%;
    opacity: .8;
}
