.search-button{
    border: 1px solid #ced4da;
    border-left: 0 !important;
}
.nav-treeview > .nav-item > .nav-link {
    padding-left: 1.5rem !important;
}
.top-icon{
    width: 20px;
    margin-right:5px;
}
#social-networks .input-group-prepend{
    border: 1px solid #ced4da;
    border-right: 0 !important;
    width: 45px;
    display: flex;
    justify-content: center;
}
#social-networks i{
    font-size: 2rem;
    margin: 2px 3px 0 3px;
}
#social-networks input{
    border-left:0 !important;
}
#dark-mode-switcher{
    position:fixed;
    bottom: 4em;
    right: 1em;
}

.form-control-navbar-dark {
    border:1px solid #ced4da !important;
    border-right-width: 0 !important;
}

#dark-mode-switcher-button{
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.chat-light{
    background-color: #f3f4f6;
}
.chat-dark{
    background-color: #2d2d2d;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#chatbot-typing span {
    font-size:1.3em;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#chatbot-typing span:nth-child(2) {
    animation-delay: .2s;
}

#chatbot-typing span:nth-child(3) {
    animation-delay: .4s;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a3a2a2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #717171;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3c3c3c;
}

.table-dark pre{
    color: #f8f9fa;
}

#monitoring{
    width: 100%;
    height: calc(100dvh - 255px);
    border: none;
}

.navbar-dark #top-menu-navbar li{
    border-left: 1px solid #4f596240 !important;
}

.navbar-light #top-menu-navbar li{
    border-left: 1px solid rgba(0,0,0,.05) !important;
}


#top-menu-navbar li:first-child{
    border-left: none !important;
}
