.search-button{
    border: 1px solid #ced4da;
    border-left: 0 !important;
}
.nav-treeview > .nav-item > .nav-link {
    padding-left: 1.5rem !important;
}
.top-icon{
    width: 20px;
    margin-right:5px;
}
#social-networks .input-group-prepend{
    border: 1px solid #ced4da;
    border-right: 0 !important;
    width: 45px;
    display: flex;
    justify-content: center;
}
#social-networks i{
    font-size: 2rem;
    margin: 2px 3px 0 3px;
}
#social-networks input{
    border-left:0;
}
